
<div class="container">
  <h2>Sign Up</h2>

  <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
    <label>Email</label>
    <input formControlName="email" type="email" placeholder="Enter Email" />
    <label>Password</label>
    <input formControlName="password" type="password" placeholder="Enter Password" />

    <select formControlName="role">
      <option value="">Select Role</option>
      <option value="HR">HR</option>
      <option value="ADMIN">ADMIN</option>
      <option value="EMPLOYEE">EMPLOYEE</option>
    </select>

    <button type="submit">Sign Up</button>

  </form>
</div>