<div class="dashboard-page">
	<app-header [title]="'Attendance Management'"></app-header>
  
	<div class="dashboard-body">
	  <app-sidebar></app-sidebar>
  
	  <section class="content">
		<div class="content-panel">
		  
		  <div class="row mb-3 gx-3 justify-content-start">
			<div class="col-md-4 col-lg-3">
			  <div class="input-group input-group-sm">
				<span class="input-group-text bg-light text-secondary">Month :</span>
				<select class="form-select">
				  <option>Apr-2026</option>
				</select>
			  </div>
			</div>
			<div class="col-md-4 col-lg-3">
			  <div class="input-group input-group-sm">
				<span class="input-group-text bg-light text-secondary">Status :</span>
				<select class="form-select">
				  <option>All Status</option>
				</select>
			  </div>
			</div>
		  </div>
  
		  <div class="row mb-4 gx-3">
			<div class="col-md-3">
			  <div class="input-group input-group-sm">
				<span class="input-group-text bg-light text-secondary">Total Present :</span>
				<input type="text" class="form-control bg-light" value="0" readonly>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="input-group input-group-sm">
				<span class="input-group-text bg-light text-secondary">Total WFH :</span>
				<input type="text" class="form-control bg-light" value="0" readonly>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="input-group input-group-sm">
				<span class="input-group-text bg-light text-secondary">Total Leaves :</span>
				<input type="text" class="form-control bg-light" value="0" readonly>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="input-group input-group-sm">
				<span class="input-group-text bg-light text-secondary">Total Absent :</span>
				<input type="text" class="form-control bg-light" value="0" readonly>
			  </div>
			</div>
		  </div>
  
		  <div class="table-responsive border rounded">
			<table mat-table [dataSource]="dataSource" class="w-100 attendance-table">
  
			  <ng-container matColumnDef="slNo">
				<th mat-header-cell *matHeaderCellDef class="text-center"> Sl. No </th>
				<td mat-cell *matCellDef="let element" class="text-center" > {{element.slNo}} </td>
			  </ng-container>
  
			  <ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef class="text-center"> Date [Day] </th>
				<td mat-cell *matCellDef="let element" class="text-center" > {{element.date}} </td>
			  </ng-container>
  
			  <ng-container matColumnDef="firstIn">
				<th mat-header-cell *matHeaderCellDef class="text-center"> First IN </th>
				<td mat-cell *matCellDef="let element" class="text-center" >
					<button *ngIf="!element.firstIn" class="btn btn-sm btn-success" (click)="checkIn()">Check In</button>
						<span *ngIf="element.firstIn">{{ element.firstIn }}</span>
				</td>
			  </ng-container>
  
			  <ng-container matColumnDef="lastOut">
				<th mat-header-cell *matHeaderCellDef class="text-center"> Last OUT </th>
				<td mat-cell *matCellDef="let element" class="text-center" >
					<button *ngIf="element.firstIn && !element.lastOut" class="btn btn-sm btn-danger" (click)="checkOut()">Check Out</button>
						<span *ngIf="element.lastOut">{{ element.lastOut }}</span>
				</td>
			  </ng-container>
  
			  <ng-container matColumnDef="actualWorkTime">
				<th mat-header-cell *matHeaderCellDef class="text-center"> Actual Work Time </th>
				<td mat-cell *matCellDef="let element" class="text-center" > {{element.actualWorkTime}} </td>
			  </ng-container>
  
			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'table-striped-custom': row.slNo % 2 === 0}"></tr>
			</table>
		  </div>
  
		</div>
	  </section>
	</div>
  </div>