label {
  margin: 0;
  color: #334155;
  font-size: 14px;
}

.form-select {
  min-width: 180px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  box-shadow: none;
}

.table-wrapper {
  overflow-x: auto;
  border-radius: 14px;
  border: 1px solid rgba(148,163,184,.25);
}

table {
  width: 100%;
  background: white;
  margin: 0;
}

th.mat-header-cell {
  background: #b3d0ec;
  color: #334155;
  font-weight: 700;
  border-bottom: 1px solid #e2e8f0;
  border-right: 1px solid #e2e8f0;
  text-align: center;
}

td.mat-cell {
  color: #475569;
  border-bottom: 1px solid #b4b7ba;
  border-right: 1px solid #e2e8f0;
  text-align: center;
}

tr.mat-row:hover {
  background: #f8fafc;
}

th.mat-header-cell {
  position: relative;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  cursor: col-resize;
  -webkit-user-select: none;
  user-select: none;
}
.chart-container {
  width: 100%;          /* full width */
  max-width: 600px;     /* limit max size */
  height: 300px;        /* fixed height */
  margin: 0 auto;       /* center */
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}